
.navbar{
    background-color: rgb(7, 57, 97);
}

.main {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-image: url("../img/main.jpg");
    
  }
 .name-div{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }
  #name{
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    color: rgb(185, 179, 179);
    padding: 0 2vw;
  }
  
.headers{
    color: rgb(41, 118, 180);
    margin-top: 25px;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: rgba(0, 0, 0, 0.37);
}
.sociali {
  font-size: 2em;
  line-height: 1.2em;
  padding: 10px;
  background: #2A85BC;
  color: #fff;
  margin: 10px;
  
}
.bi-laptop,.bi-person{
  font-size: 3em;

}
.card-text{
  text-justify: auto;
}
    
